@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #fdde7e;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.styleli{
    margin: 80px auto;
    text-align: center;
    padding: 0px;
    width: 30%;
    background-color: #ffffff;
    cursor: pointer;
    align-self: center;
    transition: all .3s ease-in-out;
}

.price{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: #02995b;
    margin: 20px 0px 30px 0px;
    transition: all .3s ease-in-out;  
}

.namecof{
    font-size: 56px;
    font-weight: 300;
    margin: 20px;
}

.bonus{
    max-width: 150px;
    margin: 40px auto;
    font-size: 20px;
    font-weight: 300;
}

.styleli:hover,
.styleli:focus,
.styleli:active {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}